#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  display: flex;
}

.bank-card {
  display: flex;
  flex-direction: column;
}
.bank-card p:first-of-type img{
  align-self: right;
  width: 50px;
}

.bank-card > p:first-of-type {
  
}
